In [3]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv("../unimelb_training.csv", header=0, dtype="str")

In [13]:
data.head()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199,100,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103,30,280106,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004,60,321216,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602,50,320602,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500,34,280000,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
list(data.columns)

['Grant.Application.ID',
 'Grant.Status',
 'Sponsor.Code',
 'Grant.Category.Code',
 'Contract.Value.Band...see.note.A',
 'Start.date',
 'RFCD.Code.1',
 'RFCD.Percentage.1',
 'RFCD.Code.2',
 'RFCD.Percentage.2',
 'RFCD.Code.3',
 'RFCD.Percentage.3',
 'RFCD.Code.4',
 'RFCD.Percentage.4',
 'RFCD.Code.5',
 'RFCD.Percentage.5',
 'SEO.Code.1',
 'SEO.Percentage.1',
 'SEO.Code.2',
 'SEO.Percentage.2',
 'SEO.Code.3',
 'SEO.Percentage.3',
 'SEO.Code.4',
 'SEO.Percentage.4',
 'SEO.Code.5',
 'SEO.Percentage.5',
 'Person.ID.1',
 'Role.1',
 'Year.of.Birth.1',
 'Country.of.Birth.1',
 'Home.Language.1',
 'Dept.No..1',
 'Faculty.No..1',
 'With.PHD.1',
 'No..of.Years.in.Uni.at.Time.of.Grant.1',
 'Number.of.Successful.Grant.1',
 'Number.of.Unsuccessful.Grant.1',
 'A..1',
 'A.1',
 'B.1',
 'C.1',
 'Person.ID.2',
 'Role.2',
 'Year.of.Birth.2',
 'Country.of.Birth.2',
 'Home.Language.2',
 'Dept.No..2',
 'Faculty.No..2',
 'With.PHD.2',
 'No..of.Years.in.Uni.at.Time.of.Grant.2',
 'Number.of.Successful.Grant.2',
 'Number.of.Unsuccessful.Grant.2',
 'A..2',
 'A.2',
 'B.2',
 'C.2',
 'Person.ID.3',
 'Role.3',
 'Year.of.Birth.3',
 'Country.of.Birth.3',
 'Home.Language.3',
 'Dept.No..3',
 'Faculty.No..3',
 'With.PHD.3',
 'No..of.Years.in.Uni.at.Time.of.Grant.3',
 'Number.of.Successful.Grant.3',
 'Number.of.Unsuccessful.Grant.3',
 'A..3',
 'A.3',
 'B.3',
 'C.3',
 'Person.ID.4',
 'Role.4',
 'Year.of.Birth.4',
 'Country.of.Birth.4',
 'Home.Language.4',
 'Dept.No..4',
 'Faculty.No..4',
 'With.PHD.4',
 'No..of.Years.in.Uni.at.Time.of.Grant.4',
 'Number.of.Successful.Grant.4',
 'Number.of.Unsuccessful.Grant.4',
 'A..4',
 'A.4',
 'B.4',
 'C.4',
 'Person.ID.5',
 'Role.5',
 'Year.of.Birth.5',
 'Country.of.Birth.5',
 'Home.Language.5',
 'Dept.No..5',
 'Faculty.No..5',
 'With.PHD.5',
 'No..of.Years.in.Uni.at.Time.of.Grant.5',
 'Number.of.Successful.Grant.5',
 'Number.of.Unsuccessful.Grant.5',
 'A..5',
 'A.5',
 'B.5',
 'C.5',
 'Person.ID.6',
 'Role.6',
 'Year.of.Birth.6',
 'Country.of.Birth.6',
 'Home.Language.6',
 'Dept.No..6',
 'Faculty.No..6',
 'With.PHD.6',
 'No..of.Years.in.Uni.at.Time.of.Grant.6',
 'Number.of.Successful.Grant.6',
 'Number.of.Unsuccessful.Grant.6',
 'A..6',
 'A.6',
 'B.6',
 'C.6',
 'Person.ID.7',
 'Role.7',
 'Year.of.Birth.7',
 'Country.of.Birth.7',
 'Home.Language.7',
 'Dept.No..7',
 'Faculty.No..7',
 'With.PHD.7',
 'No..of.Years.in.Uni.at.Time.of.Grant.7',
 'Number.of.Successful.Grant.7',
 'Number.of.Unsuccessful.Grant.7',
 'A..7',
 'A.7',
 'B.7',
 'C.7',
 'Person.ID.8',
 'Role.8',
 'Year.of.Birth.8',
 'Country.of.Birth.8',
 'Home.Language.8',
 'Dept.No..8',
 'Faculty.No..8',
 'With.PHD.8',
 'No..of.Years.in.Uni.at.Time.of.Grant.8',
 'Number.of.Successful.Grant.8',
 'Number.of.Unsuccessful.Grant.8',
 'A..8',
 'A.8',
 'B.8',
 'C.8',
 'Person.ID.9',
 'Role.9',
 'Year.of.Birth.9',
 'Country.of.Birth.9',
 'Home.Language.9',
 'Dept.No..9',
 'Faculty.No..9',
 'With.PHD.9',
 'No..of.Years.in.Uni.at.Time.of.Grant.9',
 'Number.of.Successful.Grant.9',
 'Number.of.Unsuccessful.Grant.9',
 'A..9',
 'A.9',
 'B.9',
 'C.9',
 'Person.ID.10',
 'Role.10',
 'Year.of.Birth.10',
 'Country.of.Birth.10',
 'Home.Language.10',
 'Dept.No..10',
 'Faculty.No..10',
 'With.PHD.10',
 'No..of.Years.in.Uni.at.Time.of.Grant.10',
 'Number.of.Successful.Grant.10',
 'Number.of.Unsuccessful.Grant.10',
 'A..10',
 'A.10',
 'B.10',
 'C.10',
 'Person.ID.11',
 'Role.11',
 'Year.of.Birth.11',
 'Country.of.Birth.11',
 'Home.Language.11',
 'Dept.No..11',
 'Faculty.No..11',
 'With.PHD.11',
 'No..of.Years.in.Uni.at.Time.of.Grant.11',
 'Number.of.Successful.Grant.11',
 'Number.of.Unsuccessful.Grant.11',
 'A..11',
 'A.11',
 'B.11',
 'C.11',
 'Person.ID.12',
 'Role.12',
 'Year.of.Birth.12',
 'Country.of.Birth.12',
 'Home.Language.12',
 'Dept.No..12',
 'Faculty.No..12',
 'With.PHD.12',
 'No..of.Years.in.Uni.at.Time.of.Grant.12',
 'Number.of.Successful.Grant.12',
 'Number.of.Unsuccessful.Grant.12',
 'A..12',
 'A.12',
 'B.12',
 'C.12',
 'Person.ID.13',
 'Role.13',
 'Year.of.Birth.13',
 'Country.of.Birth.13',
 'Home.Language.13',
 'Dept.No..13',
 'Faculty.No..13',
 'With.PHD.13',
 'No..of.Years.in.Uni.at.Time.of.Grant.13',
 'Number.of.Successful.Grant.13',
 'Number.of.Unsuccessful.Grant.13',
 'A..13',
 'A.13',
 'B.13',
 'C.13',
 'Person.ID.14',
 'Role.14',
 'Year.of.Birth.14',
 'Country.of.Birth.14',
 'Home.Language.14',
 'Dept.No..14',
 'Faculty.No..14',
 'With.PHD.14',
 'No..of.Years.in.Uni.at.Time.of.Grant.14',
 'Number.of.Successful.Grant.14',
 'Number.of.Unsuccessful.Grant.14',
 'A..14',
 'A.14',
 'B.14',
 'C.14',
 'Person.ID.15',
 'Role.15',
 'Year.of.Birth.15',
 'Country.of.Birth.15',
 'Home.Language.15',
 'Dept.No..15',
 'Faculty.No..15',
 'With.PHD.15',
 'No..of.Years.in.Uni.at.Time.of.Grant.15',
 'Number.of.Successful.Grant.15',
 'Number.of.Unsuccessful.Grant.15',
 'A..15',
 'A.15',
 'B.15',
 'C.15',
 'Unnamed: 251']

In [15]:
data.head()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199,100,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103,30,280106,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004,60,321216,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602,50,320602,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500,34,280000,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data["Unnamed: 251"].isnull().all()

True

In [17]:
def process_column(data, prefix, nb_max=15):
    unique_values = set([])
    all_values = []
    for i in range(1, nb_max+1):
        unique_values.update(data[prefix+str(i)].unique())
        all_values.extend(list(data[prefix+str(i)]))
    return unique_values, all_values

unique_roles, all_roles = process_column(data, "Role.")
print(list(unique_roles))

unique_cob, all_cob = process_column(data, "Country.of.Birth.")
print(list(unique_cob))

[nan, 'CHIEF_INVESTIGATOR', 'STUD_CHIEF_INVESTIGATOR', 'DELEGATED_RESEARCHER', 'EXT_CHIEF_INVESTIGATOR', 'PRINCIPAL_SUPERVISOR', 'EXTERNAL_ADVISOR', 'HONVISIT', 'STUDRES']
[nan, 'The Americas', 'Australia', 'Eastern Europe', 'New Zealand', 'North America', 'Western Europe', 'South Africa', 'Middle East and Africa', 'Great Britain', 'Asia Pacific']

In [18]:
print(len(all_roles)) # 8708*15

130620

In [19]:
pd.Series(all_roles).value_counts()

CHIEF_INVESTIGATOR         12136
EXT_CHIEF_INVESTIGATOR      3732
STUD_CHIEF_INVESTIGATOR      586
PRINCIPAL_SUPERVISOR         536
DELEGATED_RESEARCHER         315
STUDRES                      157
HONVISIT                      29
EXTERNAL_ADVISOR               5
dtype: int64

In [20]:
pd.Series(all_cob).value_counts()

Australia                 8500
Great Britain             1011
Asia Pacific               549
Western Europe             500
North America              352
Eastern Europe             193
New Zealand                134
Middle East and Africa     100
South Africa                97
The Americas                91
dtype: int64

In [21]:
data.describe()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
count,8708,8708,7796,7796,5145,8708,8074,8074,8074,8074,...,2,0.0,2,2,2,2,2,2,0.0,0.0
unique,8708,2,297,13,16,712,654,24,654,24,...,1,0.0,1,1,1,2,1,1,0.0,0.0
top,8351,0,4D,10A,A,19/11/05,320702,100,0,0,...,31,NaN,more than 15,1,0,13,3,2,NaN,NaN
freq,1,4716,2006,3953,2476,1079,353,3989,3989,3989,...,2,NaN,2,2,2,1,2,2,NaN,NaN

In [23]:
data['Sponsor.Code'].unique()

array([nan, '2B', '29A', '40D', '59C', '4D', '28D', '136D', '100D', '1A',
       '21A', '24D', '148D', '12D', '62B', '138B', '60D', '143C', '90B',
       '18B', '89A', '34B', '47C', '36D', '32D', '172D', '184D', '5A',
       '63C', '74B', '6B', '170B', '166B', '101A', '33A', '164D', '75C',
       '161A', '157A', '9A', '126B', '149A', '53A', '94B', '97A', '160D',
       '51C', '167C', '135C', '65A', '42B', '87C', '169A', '95C', '103C',
       '147C', '133A', '150B', '155C', '174B', '83C', '175C', '139C',
       '202B', '13A', '168D', '113A', '134B', '20D', '141A', '80D', '91C',
       '187C', '26B', '162B', '93A', '84D', '158B', '55C', '77A', '429A',
       '140D', '23C', '142B', '112D', '111C', '154B', '185A', '151C', '3C',
       '428D', '137A', '37A', '146B', '176D', '145A', '85A', '14B', '69A',
       '41A', '427C', '49A', '7C', '44D', '163C', '144D', '177A', '39C',
       '153A', '173A', '159C', '178B', '156D', '186B', '152D', '171C',
       '201A', '182B', '183C', '52D', '132D', '219C', '227C', '56D', '73A',
       '107C', '224D', '188D', '229A', '230B', '210B', '430B', '86B',
       '179C', '234B', '198B', '305A', '199C', '200D', '191C', '238B',
       '222B', '223C', '54B', '196D', '216D', '120D', '190B', '189A',
       '214B', '215C', '237A', '233A', '38B', '82B', '66B', '194B', '225A',
       '212D', '208D', '180D', '68D', '211C', '203C', '192D', '228D',
       '205A', '213A', '130B', '48D', '206B', '207C', '72D', '27C', '251C',
       '204D', '193A', '195C', '239C', '67C', '217A', '218B', '226B',
       '431C', '232D', '197A', '165A', '247C', '220D', '221A', '245A',
       '282B', '11C', '250B', '252D', '292D', '235C', '105A', '242B',
       '240D', '243C', '15C', '244D', '246B', '278B', '241A', '270B',
       '277A', '275C', '295C', '372D', '284D', '258B', '297A', '256D',
       '255C', '289A', '286B', '280D', '253A', '276D', '128D', '433A',
       '81A', '298B', '78B', '435C', '285A', '339C', '288D', '294B',
       '325A', '300D', '287C', '296D', '266B', '265A', '268D', '302B',
       '257A', '263C', '269A', '434B', '16D', '432D', '279C', '272D',
       '274B', '271C', '267C', '262B', '373A', '259C', '260D', '261A',
       '281A', '309A', '308D', '304D', '303C', '307C', '310B', '326B',
       '316D', '273A', '436D', '314B', '346B', '324D', '318B', '313A',
       '312D', '311C', '315C', '437A', '118B', '299C', '330B', '319C',
       '328D', '331C', '334B', '317A', '323C', '347C', '415C', '58B',
       '374B', '362B', '363C', '342B', '357A', '370B', '371C', '290B',
       '349A', '10B', '329A'], dtype=object)

### Grants Status
### Accepted Grants Ratio

In [49]:
accepted_grants_ratio = sum(data['Grant.Status'] == '1')/len(data)
accepted_grants_ratio

0.45842903077629765

## Sponsor.Code Column

In [113]:
# number of applications without a sponsor
data['Sponsor.Code'].isnull().sum()

0

In [63]:
# Number of applications without a sponsor that were accepted
(data[data['Sponsor.Code'].isnull()]['Grant.Status'] =='1').sum()

749

In [68]:
# Number of non-sponsored and without grant category code
data[data['Sponsor.Code'].isnull()]['Grant.Category.Code'].isnull().sum()

# All non sponsored applications have no grant category code <- logical?

912

In [80]:
data[data['Sponsor.Code'].isnull()]['Contract.Value.Band...see.note.A'].isnull().sum()

325

In [86]:
data[data['Sponsor.Code'].isnull()]['Person.ID.1'].unique().shape

(444,)

In [93]:
data[data['Grant.Category.Code'].isnull()]['Sponsor.Code'].isnull().sum()

912

In [92]:
data['Grant.Category.Code'].isnull().sum()

912

In [104]:
data[data['Grant.Category.Code'].isnull()]['RFCD.Code.1'].unique()[0][1]

'8'

In [115]:
data['Grant.Category.Code'].isnull().sum()

912

# Filling missing data
## All applications without a sponsor code will be assigned a new code, such as MIA

In [117]:
data.loc[data['Sponsor.Code'].isnull(),'Sponsor.Code'] = 'MIA'

In [118]:
data.loc[data['Grant.Category.Code'].isnull(),'Grant.Category.Code'] = 'MIA'

# Contract Value Band processing

In [119]:
data['Contract.Value.Band...see.note.A'].isnull().sum()

3563

#### 41% of the applications have no contract value band
Either fill missing values with a new 'Unknown' category (band) or fill them with the mode

In [121]:
data['Contract.Value.Band...see.note.A'].isnull().sum()/len(data) *100

40.916398713826368

## Start Date processing

In [122]:
data['Start.date'].isnull().sum()

0

# RFCD Code and Percentage processing

In [123]:
data['RFCD.Code.1'].isnull().sum()

634

In [133]:
data['RFCD.Code.1'].isnull().sum()/len(data)

0.072806614607257694

In [128]:
(data[data['RFCD.Code.1'].isnull()]['Sponsor.Code'] =='MIA').sum()

270

In [132]:
data[data['RFCD.Code.1'].isnull()]['RFCD.Code.5'].isnull().sum()

634

In [139]:
(data[data['RFCD.Code.1'].isnull()]['Grant.Status'] =='1').sum()

317

Either fill missing values with a new category or ignore these grants

In [141]:
data['RFCD.Code.1'].unique().shape

(655,)

In [155]:
[x[0] for x in data['RFCD.Code.1'].unique()]

TypeError: 'float' object is not subscriptable

In [152]:
type(data['RFCD.Code.1'].unique()[0])

str

In [173]:
data['RFCD.Code.1'].unique()

array(['280199', '280103', '321004', '270602', '260500', '321204',
       '270708', '321405', '260108', '230111', '270603', '320702',
       '291599', '280203', '321099', '300903', '300508', '380103',
       '270103', '370107', '321021', '291801', '330305', nan, '270299',
       '350201', '400303', '330107', '260109', '270104', '270201',
       '300105', '321028', '321216', '320602', '420303', '260602',
       '321003', '321402', '300403', '270402', '380107', '270403',
       '321015', '320700', '330103', '270106', '210000', '270105',
       '270108', '240204', '321206', '320405', '250200', '321202',
       '360299', '320502', '279901', '320305', '321208', '290104',
       '300204', '270804', '321006', '320202', '290801', '291104',
       '270199', '320302', '230204', '270699', '360101', '280100',
       '321005', '390301', '320899', '350301', '320503', '300399',
       '290102', '270208', '340207', '260107', '270504', '320403',
       '320705', '320207', '310101', '320701', '310103', '320703',
       '330104', '321019', '321201', '320000', '240499', '380299',
       '339999', '270304', '259904', '260502', '250103', '260501',
       '270306', '440205', '240301', '270203', '280104', '321299',
       '250105', '329903', '280210', '269901', '321016', '321025',
       '390305', '390111', '380399', '410101', '291702', '350603',
       '360105', '440104', '320299', '340204', '270501', '270401',
       '320603', '240201', '321014', '321008', '430101', '240401',
       '300199', '270802', '230107', '321013', '230119', '291501',
       '390105', '370105', '330101', '320401', '270205', '280102',
       '270000', '239901', '300104', '321010', '370204', '399999',
       '330199', '270404', '380199', '320800', '370603', '280301',
       '240302', '270101', '340101', '320804', '320204', '270702',
       '321024', '321105', '370302', '291803', '300704', '320599',
       '240101', '270502', '270707', '250501', '260301', '300406',
       '420104', '320704', '290704', '390114', '300899', '300605',
       '370602', '321012', '410202', '230101', '380208', '260399',
       '390199', '270899', '420302', '300901', '300803', '321210',
       '270599', '430104', '320600', '300202', '320699', '291004',
       '250204', '270100', '420114', '321000', '321029', '270799',
       '350101', '380106', '270102', '270704', '260102', '321017',
       '399901', '320402', '280110', '270703', '360102', '291804',
       '370504', '430203', '330109', '300606', '320200', '420306',
       '380201', '350103', '321203', '321214', '320303', '280399',
       '310102', '370499', '380102', '410301', '321027', '250301',
       '290603', '280204', '291704', '300205', '370401', '321403',
       '279999', '321401', '330301', '321207', '300601', '321022',
       '280106', '320799', '230105', '321007', '321200', '270307',
       '270303', '350299', '321023', '300304', '300799', '300501',
       '320206', '300203', '270210', '250502', '230202', '239999',
       '300510', '321026', '380101', '249901', '300401', '291401',
       '270202', '290901', '270107', '349999', '380105', '340205',
       '280108', '240100', '280211', '250199', '291103', '291799',
       '379999', '270705', '270803', '280207', '350212', '300201',
       '390102', '310199', '230112', '430102', '300305', '250302',
       '280105', '309901', '321102', '250303', '321018', '330108',
       '250104', '300801', '430108', '280304', '290699', '280401',
       '280205', '380207', '370102', '410199', '380203', '410102',
       '259902', '270701', '390118', '280112', '350303', '340499',
       '291499', '330206', '300299', '360201', '390201', '280212',
       '300405', '260601', '390116', '370402', '370201', '340403',
       '420201', '390107', '420206', '310202', '291503', '310105',
       '240402', '420102', '270207', '300303', '270499', '300599',
       '320205', '321205', '320307', '250107', '329999', '321020',
       '321209', '270503', '290501', '430111', '250201', '420199',
       '370503', '379901', '260114', '400399', '270801', '321001',
       '321002', '400301', '360104', '329900', '300804', '380302',
       '350202', '350107', '410303', '250699', '300102', '290899',
       '280109', '290302', '300503', '999999', '320203', '370301',
       '320801', '230118', '260599', '440110', '370199', '280213',
       '290205', '259999', '260105', '330202', '300404', '350211',
       '300507', '340402', '390103', '370106', '230117', '330302',
       '320501', '309999', '330399', '340299', '370299', '330201',
       '300603', '430201', '329902', '291405', '300699', '300604',
       '300505', '370202', '300302', '291003', '321011', '309902',
       '300902', '250101', '310201', '419999', '360202', '299904',
       '280101', '291005', '289999', '390401', '240503', '320803',
       '419901', '291199', '300103', '291001', '240199', '390303',
       '291899', '420208', '430199', '280107', '270302', '300802',
       '410302', '420304', '340208', '250206', '440105', '380109',
       '420103', '420202', '370101', '370601', '390112', '249902',
       '280302', '420301', '440199', '250404', '390404', '291802',
       '340301', '250106', '249999', '250604', '440113', '340404',
       '430107', '291404', '290401', '410299', '420218', '291403',
       '280201', '291402', '420101', '240203', '270301', '420305',
       '440101', '420207', '270706', '230199', '400104', '420215',
       '360103', '420307', '380304', '390119', '390302', '300602',
       '380205', '380206', '370104', '420106', '291504', '280506',
       '380108', '420399', '440109', '320304', '420308', '239903',
       '300805', '291706', '350399', '380204', '360199', '350501',
       '280303', '330105', '380303', '340209', '320504', '290804',
       '270601', '250203', '250102', '390104', '230203', '390106',
       '230201', '370502', '330203', '330307', '320201', '319999',
       '350204', '300504', '250402', '321199', '321103', '291099',
       '340401', '340202', '330205', '389999', '290309', '340206',
       '330299', '379902', '350302', '300506', '270209', '320404',
       '390405', '290101', '250503', '290105', '299902', '350604',
       '321030', '310299', '321009', '290903', '310203', '400101',
       '290702', '370501', '300499', '260699', '340213', '390403',
       '290803', '259903', '310106', '321499', '321301', '321217',
       '390399', '291101', '240501', '330106', '440103', '430109',
       '321101', '300705', '310104', '340405', '340211', '330303',
       '300512', '390113', '370103', '300502', '390120', '350102',
       '260110', '400103', '280504', '230113', '240202', '350208',
       '291707', '250399', '290805', '430103', '420216', '260112',
       '290602', '390108', '420220', '291006', '440106', '430110',
       '250603', '249903', '370699', '280208', '250405', '230116',
       '410304', '350405', '321212', '320499', '321213', '430205',
       '340201', '270206', '300511', '440204', '291102', '420205',
       '321399', '290601', '350504', '300402', '410104', '290103',
       '290201', '390115', '330102', '270709', '370203', '250401',
       '290802', '440107', '420217', '349901', '340102', '440114',
       '260499', '370399', '260101', '440203', '240502', '390204',
       '291502', '321215', '250499', '380104', '260199', '340214',
       '260401', '430112', '269999', '321302', '250602', '250605'], dtype=object)

In [178]:
[str(x)[0:2] for x in data['RFCD.Code.1'].unique() if x is not 'nan']

['28',
 '28',
 '32',
 '27',
 '26',
 '32',
 '27',
 '32',
 '26',
 '23',
 '27',
 '32',
 '29',
 '28',
 '32',
 '30',
 '30',
 '38',
 '27',
 '37',
 '32',
 '29',
 '33',
 'na',
 '27',
 '35',
 '40',
 '33',
 '26',
 '27',
 '27',
 '30',
 '32',
 '32',
 '32',
 '42',
 '26',
 '32',
 '32',
 '30',
 '27',
 '38',
 '27',
 '32',
 '32',
 '33',
 '27',
 '21',
 '27',
 '27',
 '24',
 '32',
 '32',
 '25',
 '32',
 '36',
 '32',
 '27',
 '32',
 '32',
 '29',
 '30',
 '27',
 '32',
 '32',
 '29',
 '29',
 '27',
 '32',
 '23',
 '27',
 '36',
 '28',
 '32',
 '39',
 '32',
 '35',
 '32',
 '30',
 '29',
 '27',
 '34',
 '26',
 '27',
 '32',
 '32',
 '32',
 '31',
 '32',
 '31',
 '32',
 '33',
 '32',
 '32',
 '32',
 '24',
 '38',
 '33',
 '27',
 '25',
 '26',
 '25',
 '26',
 '27',
 '44',
 '24',
 '27',
 '28',
 '32',
 '25',
 '32',
 '28',
 '26',
 '32',
 '32',
 '39',
 '39',
 '38',
 '41',
 '29',
 '35',
 '36',
 '44',
 '32',
 '34',
 '27',
 '27',
 '32',
 '24',
 '32',
 '32',
 '43',
 '24',
 '30',
 '27',
 '23',
 '32',
 '23',
 '29',
 '39',
 '37',
 '33',
 '32',
 '27',
 '28',
 '27',
 '23',
 '30',
 '32',
 '37',
 '39',
 '33',
 '27',
 '38',
 '32',
 '37',
 '28',
 '24',
 '27',
 '34',
 '32',
 '32',
 '27',
 '32',
 '32',
 '37',
 '29',
 '30',
 '32',
 '24',
 '27',
 '27',
 '25',
 '26',
 '30',
 '42',
 '32',
 '29',
 '39',
 '30',
 '30',
 '37',
 '32',
 '41',
 '23',
 '38',
 '26',
 '39',
 '27',
 '42',
 '30',
 '30',
 '32',
 '27',
 '43',
 '32',
 '30',
 '32',
 '29',
 '25',
 '27',
 '42',
 '32',
 '32',
 '27',
 '35',
 '38',
 '27',
 '27',
 '26',
 '32',
 '39',
 '32',
 '28',
 '27',
 '36',
 '29',
 '37',
 '43',
 '33',
 '30',
 '32',
 '42',
 '38',
 '35',
 '32',
 '32',
 '32',
 '28',
 '31',
 '37',
 '38',
 '41',
 '32',
 '25',
 '29',
 '28',
 '29',
 '30',
 '37',
 '32',
 '27',
 '32',
 '33',
 '32',
 '30',
 '32',
 '28',
 '32',
 '23',
 '32',
 '32',
 '27',
 '27',
 '35',
 '32',
 '30',
 '30',
 '30',
 '32',
 '30',
 '27',
 '25',
 '23',
 '23',
 '30',
 '32',
 '38',
 '24',
 '30',
 '29',
 '27',
 '29',
 '27',
 '34',
 '38',
 '34',
 '28',
 '24',
 '28',
 '25',
 '29',
 '29',
 '37',
 '27',
 '27',
 '28',
 '35',
 '30',
 '39',
 '31',
 '23',
 '43',
 '30',
 '25',
 '28',
 '30',
 '32',
 '25',
 '32',
 '33',
 '25',
 '30',
 '43',
 '28',
 '29',
 '28',
 '28',
 '38',
 '37',
 '41',
 '38',
 '41',
 '25',
 '27',
 '39',
 '28',
 '35',
 '34',
 '29',
 '33',
 '30',
 '36',
 '39',
 '28',
 '30',
 '26',
 '39',
 '37',
 '37',
 '34',
 '42',
 '39',
 '42',
 '31',
 '29',
 '31',
 '24',
 '42',
 '27',
 '30',
 '27',
 '30',
 '32',
 '32',
 '32',
 '25',
 '32',
 '32',
 '32',
 '27',
 '29',
 '43',
 '25',
 '42',
 '37',
 '37',
 '26',
 '40',
 '27',
 '32',
 '32',
 '40',
 '36',
 '32',
 '30',
 '38',
 '35',
 '35',
 '41',
 '25',
 '30',
 '29',
 '28',
 '29',
 '30',
 '99',
 '32',
 '37',
 '32',
 '23',
 '26',
 '44',
 '37',
 '28',
 '29',
 '25',
 '26',
 '33',
 '30',
 '35',
 '30',
 '34',
 '39',
 '37',
 '23',
 '33',
 '32',
 '30',
 '33',
 '34',
 '37',
 '33',
 '30',
 '43',
 '32',
 '29',
 '30',
 '30',
 '30',
 '37',
 '30',
 '29',
 '32',
 '30',
 '30',
 '25',
 '31',
 '41',
 '36',
 '29',
 '28',
 '29',
 '28',
 '39',
 '24',
 '32',
 '41',
 '29',
 '30',
 '29',
 '24',
 '39',
 '29',
 '42',
 '43',
 '28',
 '27',
 '30',
 '41',
 '42',
 '34',
 '25',
 '44',
 '38',
 '42',
 '42',
 '37',
 '37',
 '39',
 '24',
 '28',
 '42',
 '44',
 '25',
 '39',
 '29',
 '34',
 '25',
 '24',
 '25',
 '44',
 '34',
 '43',
 '29',
 '29',
 '41',
 '42',
 '29',
 '28',
 '29',
 '42',
 '24',
 '27',
 '42',
 '44',
 '42',
 '27',
 '23',
 '40',
 '42',
 '36',
 '42',
 '38',
 '39',
 '39',
 '30',
 '38',
 '38',
 '37',
 '42',
 '29',
 '28',
 '38',
 '42',
 '44',
 '32',
 '42',
 '23',
 '30',
 '29',
 '35',
 '38',
 '36',
 '35',
 '28',
 '33',
 '38',
 '34',
 '32',
 '29',
 '27',
 '25',
 '25',
 '39',
 '23',
 '39',
 '23',
 '37',
 '33',
 '33',
 '32',
 '31',
 '35',
 '30',
 '25',
 '32',
 '32',
 '29',
 '34',
 '34',
 '33',
 '38',
 '29',
 '34',
 '33',
 '37',
 '35',
 '30',
 '27',
 '32',
 '39',
 '29',
 '25',
 '29',
 '29',
 '35',
 '32',
 '31',
 '32',
 '29',
 '31',
 '40',
 '29',
 '37',
 '30',
 '26',
 '34',
 '39',
 '29',
 '25',
 '31',
 '32',
 '32',
 '32',
 '39',
 '29',
 '24',
 '33',
 '44',
 '43',
 '32',
 '30',
 '31',
 '34',
 '34',
 '33',
 '30',
 '39',
 '37',
 '30',
 '39',
 '35',
 '26',
 '40',
 '28',
 '23',
 '24',
 '35',
 '29',
 '25',
 '29',
 '43',
 '42',
 '26',
 '29',
 '39',
 '42',
 '29',
 '44',
 '43',
 '25',
 '24',
 '37',
 '28',
 '25',
 '23',
 '41',
 '35',
 '32',
 '32',
 '32',
 '43',
 '34',
 '27',
 '30',
 '44',
 '29',
 '42',
 '32',
 '29',
 '35',
 '30',
 '41',
 '29',
 '29',
 '39',
 '33',
 '27',
 '37',
 '25',
 '29',
 '44',
 '42',
 '34',
 '34',
 '44',
 '26',
 '37',
 '26',
 '44',
 '24',
 '39',
 '29',
 '32',
 '25',
 '38',
 '26',
 '34',
 '26',
 '43',
 '26',
 '32',
 '25',
 '25']